@charset "utf-8";

/*

Theme Name: Spicy Brocoli Base Theme

Theme URI: http://spicybroccoli.com

Description: Spicy Broccoli template for WordPress sites. Good for you company's health!

Author: Spicy Broccoli Media

Author URI: http://spicybroccoli.com/

Version: 1.1

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

background: transparent;

border: 0;

margin: 0;

padding: 0;

vertical-align: baseline;

}

html {

height: 100%;

}

/*FORM RESET*/

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input[type="file"] {

-webkit-box-sizing: border-box;

-moz-box-sizing: border-box;

box-sizing: border-box;

-webkit-background-clip: padding;

-moz-background-clip: padding;

background-clip: padding-box;

-webkit-border-radius: 0;

-moz-border-radius: 0;

-ms-border-radius: 0;

-o-border-radius: 0;

border-radius: 0;

-webkit-appearance: none;

background-color: #fff;

border: 0;

color: #000;

outline: 0;

margin: 0;

padding: 0;

text-align: left;

font-size: 1em;

height: 1em;

vertical-align: middle;

} /* END FORM RESET*/

body {

/* MAKE EM DEFAULT 10PX IT MEANS (1.4 EM IS 14PX, 2.5EM IS 25PX) */	

/* OBJECT / CONTEXT = RESULT */

font-family: 'Open Sans', sans-serif;

font-size: 62.5%;

margin: 0;

color: #4c4c4c;

}

p {

display: block;

margin: 0;

font-weight: lighter;

}

a{ text-decoration: none; 

color: #4c4c4c;}

ul, ol, li {

margin: 0;

padding: 0;

}

ul {

list-style: none; 

}

h1,

h2,

h3,

h4,

h5,

h6,

.h1,

.h2,

.h3,

.h4,

.h5,

.h6 {

font-family: inherit;

color: inherit;

margin: 0;

padding: 0;

}

.img-responsive {

display: block;

max-width: 100%;

height: auto;

}

.container, .metaslider .caption  {

margin: 0 auto;

padding: 0 2.5em;

overflow: auto;

}

.row {

margin-right: -2em;

margin-left: -2em;

}

article .container{

margin-top: 2em;	

}

.archive article .container{

margin-bottom: 3em;	

}

#services .container{

margin-top: 0;	

}

/* MAKE EVERITHING BOXSIZINGBORDERBOX*/

* { 

-webkit-box-sizing: border-box;

-moz-box-sizing: border-box;

box-sizing: border-box;

}

.col-size-1, .col-size-2, .col-size-3, .col-size-4,

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4 {

float: left;

padding: 0 1.5em;

position: relative;

}

.col-size-1 {

width: 25%;

}

.col-size-2 {

width: 50%;

}

.col-size-3 {

width: 75%;

}

.col-size-4{

width: 100%;

}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

.container, .metaslider .caption  {

width: 100%;

}

}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

.container, .metaslider .caption  {

width: 1000px;

}

}

/* HEADER SECTION */

#header {

padding-bottom: 1em;

}

.logo {

padding: 2.5em 0px;

}

#menu-trigger { display: none !important; }

.menu-trigger {

float: right;

margin-top: 3em;

}

.main-menu {

position: absolute;

width: 980px;

left: 50%;

top: 102px;

margin-left: -500px;

z-index: 999;

}

.main-menu ul {

float: right;

}

.main-menu ul > li {

float: left;

font-size: 1.7em;

margin: 0 1em;

}

.main-menu ul > li:last-child {

margin-right: 0;

}

.main-menu a {

display: block;

text-transform: uppercase;

color: #4c4c4c;

}

.main-menu a:hover {

color: #007b53;

}

.main-menu li:hover ul {

opacity: 1;

display: block;

visibility: visible;

}

.main-menu li ul {

visibility: hidden;

display: none;

opacity: 0;

}

.main-menu ul.sub-menu {

position: absolute;

font-size: 0.6em;

background-color: #fff;

box-shadow: 1px 2px 1px rgba(0,0,0,0.3);

margin-top: 2em;

z-index: 999;

top: 0em;

padding: 3em 0 1em 0;

line-height: 3em;

margin-left: -10px;

width: 230px;

}

.social-media {

float: right;

margin-right: 3em;

}

.social-media .facebook, .social-media .twitter, .social-media .gplus {

width: 3em;

height: 3em;

display: block;

background-image: url(images/sprite_social_media.png);

background-repeat: no-repeat;

float: left;

margin: 1em .3em;

}

.social-media .facebook{

background-position: left top;

}

.social-media .facebook:hover{

background-position: left bottom;

}

.social-media .twitter{

background-position: center top;

}

.social-media .twitter:hover {

background-position: center bottom;

}

.social-media .gplus {

background-position: right top;

}

.social-media .gplus:hover {

background-position: right bottom;

}

.phone-header {

font-size: 1.7em;

float: right;

/*width: 20.2em;*/

border-left: .15em solid #a5a5a5;

}

.phone-header span, .phone-header a{

display: block;

width: 10em;

float: right;

}

.phone-header span {

text-align: center;

font-weight: bolder;

line-height: 2.5em;

font-size: 20px;

}

/* END HEADER SECTION */

#slider {

background:#007B53;

overflow: hidden;

}

/* SECTION 01 */

#containers {

background: url(images/bg_cloud.png) no-repeat #eee;

background-position: center 4em;

padding-top: 8em;

padding-bottom: 4em;

}

.green-container-separator.left, .green-container-separator.right {

width: 10em;

height: 25em;

background: url(images/bg_green_container.png) no-repeat;

float: left;

}

.green-container-separator.right {

background-position: right;

}

.green-container-separator, .green-container {

margin: 3em 0;

}

.green-container {

box-sizing: initial;

width: 25em;

height: 25em;

background: #007b53;

float:left;

}

.green-container p {

font-family: 'Playfair Display', 'Open Sans', serif;

font-weight:bold;

font-size: 2.7em;

line-height: 1em;

padding: 0 1.5em;

text-align: center;

color: #fde44b;

text-shadow: .08em .08em  #4c4c4c;

}

.green-container .key, .green-container .coin, .green-container .truck {

background: url(images/sprite_containers.png) no-repeat;

width: 7.6em;

height: 7.6em;

margin: 5em auto;

margin-bottom: 2.5em;

}

.green-container .key {}

.green-container .coin {

background-position: center;

}

.green-container .truck {

background-position: right;

}

/* END SECTION 01 */

/* SECTION LINKS */

#links {

background:#4c4c4c;

}

.links-menu {

font-size: 1.7em;

padding-top: 1em;

margin-bottom: .5em;

}

.home .links-menu {

font-size: 1.7em;

padding-top: 2.2em;

margin-bottom: 2em;

}

.links-menu p {

float: left;

line-height: 2.7em;

color: #fff;

}

.links-menu p span, .links-menu p strong {

cursor: pointer;

font-weight: bold;

}

.links-menu .Tselected {

color: #fde44b;

}

.links-menu > ul {

overflow: auto;

}

textarea {

-webkit-transition: all 0.3s ease;  

-moz-transition: all 0.3s ease;  

-o-transition: all 0.3s ease;  

transition: all 0.3s ease;

}

.links-menu > ul > li {

float: left;

border: 0.14em solid #595959;

margin: 0 .5em;

-webkit-transition: border-color 0.3s ease;  

-moz-transition: border-color 0.3s ease;  

-o-transition: border-color 0.3s ease;  

transition: border-color 0.3s ease;

font-size: 0.9em;

margin-bottom: .5em;

}

.links-menu > ul > li:hover{

border-color: #fde44b;

}

.links-menu > ul > li > a{

display: block;

color: #fff;

text-decoration: none;

font-weight: lighter;

padding: 0.7em 0.5em;

}

/* END SECTION LINKS */

/* SECTION ABOUT US */

#aboutus {

background: #330;

background: url(images/bg_aboutus_sec.jpg) center;

padding-top: 5.5em ;

padding-bottom: 7.5em ;

}

.white-box {

background-color: #fff;

margin: 1em;

padding: 4.5em;

}

.white-box h2 {

font-family: 'Playfair Display', 'Open Sans', serif;

font-weight:bold;

font-size: 4em;

text-align: center;

color: #007b53;

text-shadow: 1px 1px  #4c4c4c;

margin-bottom: 0.8em;

}

.white-box p {

font-size: 1.7em;

font-weight: lighter;

}

/* END SECTION ABOUT US */

/* SECTION GET QUOTE */

#get-quote {

background: #007B53;

padding: 5em;

}

#get-quote p{

color: #fff;

font-size: 2.7em;

line-height: 2.7em;

text-align: right;

}

/* END SECTION GET QUOTE */

/* SECTION BOTTOM LINKS */

#bottom-links {

background: #4b4b4b;

}

#bottom-links .container {

padding-top: 7.5em;	

padding-bottom: 6.8em;	

}

#bottom-links h3{

font-size: 1.7em;

color: #fde44b;

font-weight: bold;

text-transform:uppercase;

margin-bottom: 0.5em;

cursor: pointer;

text-align: center;

}

#bottom-links h3 a {

color: #fde44b;

}

#bottom-links ul {

font-size: 1.5em;

margin-bottom: 2em;

}

#bottom-links ul a, #copyright a {

color: #fff;

font-weight: lighter;

}

#bottom-links ul a:hover, #copyright a:hover {

color: #fde44b;

}

/* END SECTION BOTTOM LINKS */

/* SECTION COPYRIGHT*/

#copyright {

font-size: 1.3em;

background: #3f3f3f;

color: #f3f3f3;

}

#copyright .container{

padding: 2.5em 0;

}

#copyright div.sbm{

text-align: right;

}

/* END SECTION COPYRIGHT */

/* BUTTONS */

.button {

display: block;

text-align: center;

text-transform: uppercase;

font-weight: bold;

-webkit-box-shadow: 1px 1px #4c4c4c;

-moz-transitionbox-shadow: 1px 1px #4c4c4c;

box-shadow: 1px 1px #4c4c4c;

-webkit-transition: background-color .1s linear;

-moz-transition: background-color .1s linear;

transition: background-color .1s linear;

}

.button-grey-green {

font-size: 1.7em;

color: #007b53;

height: 3em;

width: 11.7em;

background-color: #f1f1f1;

margin: 0 auto;

margin-top: 2em;

line-height: 2.9em;

}

.button-grey-green:hover {

color: #fff;

background-color: #007b53;

}

.button-header {

width: 10.2em;

height: 2.9em;

line-height: 2.8em;

background-color: #4c4c4c;

color: #fde44b;

}

.button-header:hover {

background-color: #007b53;

}

.button-yellow {

font-size: 2.7em;

color: #4c4c4c;

height: 2.8em;

width: 9.3em;

background-color: #fde44b;

line-height: 2.8em;

font-weight: 400 !important;

}

.button-yellow:hover {

color: #4c4c4c;

background-color: #d6b908;

}

/* END BUTTONS */

/* META SLIDER */

.metaslider .caption {

width: 960px;

margin: 0 auto;

padding-left: 500px !important;

font-size: 2em;

overflow: initial;

text-align: right;

line-height: 1em;

font-weight: lighter;

}

.metaslider .caption h2 {

font-size: 2em;

line-height: 1em;

font-family: 'Playfair Display', 'Open Sans', serif;

font-weight: bold;

color: #fde44b;

text-shadow: .05em .05em #4c4c4c;

margin-top: 1em;

margin-bottom: .4em;

padding-left: 2.5em;

}

.metaslider .caption .button-yellow {

font-size: 1.35em;

float: right;

font-weight: lighter;

margin-top: 1.5em;	

}

.metaslider .caption-wrap {

background: none !important;

line-height:none !important;

top: 0 !important;

opacity: initial !important;

}

/* END META SLIDER */

/* BREADCRUMBS */

.breadcrumbs {

margin: 2em 0;

overflow: auto;

}

.breadcrumbs li {

font-size: 1.5em;

float: left;

font-weight: 600;

margin-right: .5em;

}

.breadcrumbs li:after {

content: '›';

color: #007b53;

margin-left: .5em;

}

.breadcrumbs li:after {

content: '›';

color: #007b53;

margin-left: .5em;

}

.breadcrumbs li:last-child:after {

display: none;

}

/* END BREADCRUMBS */

/* PRODUCTS  */

#product {

font-weight: lighter;

}

#product-specification {

background-color: #007b53;

margin-top: 6em;

}

#product-specification-header h2, #product h1, article h1 {

font-family: 'Playfair Display', 'Open Sans', serif;

font-size: 4em;

text-shadow: .5px .1px #4c4c4c;

}

#product h1, article h1 {

color: #007b53;

margin-bottom: .8em; /* 50PX */

}

article table td,

#product P, #services P, #page P {

font-size: 1.7em;

line-height: 1.7em;

}

article table td {
	font-size: 1.4em;
    padding: 0 10px 20px;
}

#product .button-yellow {

margin-bottom: .5em;

margin-top: 2.2em;

}

#product-specification-header h2 {

color: #fff;

text-align: center;

padding: .85em 0;

}

#product-specification-header {

background-color: #008257;

}

.product-specification-content {

color: #ffffff;

font-size: 1.7em;

line-height: 1.5em;

margin: 3em 0;

overflow: hidden;

}

.product-specification-content table td {

padding: .2em;

}

.product-specification-content span {

color: #fde44b;

font-weight: 600;

}

div.content-first, div.content-last { margin-bottom: 3.5em; }

div.content-last { font-weight: bold; }

.product-image {

margin-left: 3.5em;

}

.product-image-featured {

width: 42.5em;

height: 42.5em;

margin-bottom: 2.5em;

position: relative;

overflow: hidden;

}

.product-image-featured img {

left: 50%;

margin-left: -50%;

top: 50%;

margin-top: -50%;

position:absolute;

max-height: 42.5em;

}

.product-image-list img {

max-height: 7em;

-webkit-filter: grayscale(100%); filter: grayscale(100%);

margin-right: .1em; }

.product-image-list img.actived {

-webkit-filter: none; filter: none; }

.product-image-list img:hover, .product-image-list img.actived {

border: .2em solid #fde44b;	

}

.product-image-list .each {

width: 7em;

height: 7em;

overflow: hidden;

float: left; 

}

/* END PRODUCTS  */

/* IMG HEADER  */

#img-header {

background: url(http://dev.spicybroccolitesting.com.au/betta/wp-content/uploads/2015/05/slider-0x450.jpg) center center; 

}

#img-header .container {

height: 22.5em;

background: url(images/img_logo_simb.png) left center no-repeat;

}

/* END IMG HEADER  */

/* SERVICES  */

#services P, #page P {

margin-bottom: 1.5em;

}

.find-your-container {

background-color: #007b53;

margin-left: 3.5em;

min-height: 50em;

padding: 7em 5em;

text-align: center;

}

.find-your-container h2 {

font-size: 2.7em;

color: #fde44b;

text-transform: uppercase;

}

.find-your-container a {

margin: 0 auto;

}

/* END SERVICES  */

/* PRODUCT LIST  */

ul.product-list h2 {

margin: .5em 0;

}

ul.product-list h2 a {

font-size: 16px;

text-align: center;

display: block;

color: #007B53;

}

ul.product-list li p {

font-size: 1.4em !important;

}

/* END PRODUCT LIST  */

#page .container h2 {

font-family: "Playfair Display","Open Sans",serif;

font-size:3em;

text-shadow: 0.5px 0.1px #4C4C4C;

color: #007B53;

margin-bottom: 0.8em;
min-height: 50px;

}

#services .container h3,

#page .container h3 {

font-family: "Playfair Display","Open Sans",serif;

font-size: 2em;

text-shadow: 0.5px 0.1px #4C4C4C;

color: #007B53;

margin-bottom: 0.8em;

}

.find-your-container h2 {

margin-bottom: 20px;

}

.wpcf7 textarea, 

.wpcf7 select, 

.wpcf7 input[type="email"], 

.wpcf7 input[type="text"],

.wpcf7 input[type="file"] {

width: 100%;

padding: 0 10px;

height: 50px;

}

.wpcf7 input[type="file"] {

height: 26px;

padding: 0;

}

textarea.wpcf7-form-control.wpcf7-textarea {

    padding-top: 15px;

    font-size: 17px;

}

textarea.wpcf7-form-control.wpcf7-textarea:focus {

	height: 100px;

}

.wpcf7 select {

height: 50px;

padding: 0 10px;

background:url(images/dropdowbg.jpg) right no-repeat #ffffff;

cursor: pointer;

-moz-appearance:none;

}

.wpcf7 select::-ms-expand {

display: none;

}

input.wpcf7-form-control.wpcf7-submit.button.button-yellow {

font-size: 1.5em;

margin: 0 auto;

cursor: pointer;

border: 0;

}

.wpcf7-response-output {

color: #fff;

}

table#product td { 

font-size: 1em;

}

.product-specification-content .col-size-2 {

padding: 0 2em;

}

div.col-size-2 ul.content li {

font-size: 1.7em;

list-style-type: disc;

margin-left: 14px;

font-weight:100;

}

div.col-size-2 ul {

margin-bottom:12px;



}