 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		.green-container {
			width: 30%;
		}
		.green-container-separator.right, .green-container-separator.left {
			width: 5%;
		}
		.main-menu {
			width: 100%;
			right: 20px;
			left: initial;
		}
		.col-md-1 {
		width: 25%;
		}
		.col-md-2 {
			width: 50%;
		}
		.col-md-3 {
			width: 75%;
		}
		.col-md-4 {
			width: 100%;
		}
		
    }
	@media only screen and (max-width : 820px) {
		.social-media { display:none; }
		.phone-header {border: 0;}
	}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.header-right,
		.main-menu { display: none; }
		#menu-trigger { display:block !important; }
		.col-size-1, .col-size-2, .col-size-3, .col-size-4 {
			width: 100%;
		}
		.col-sm-1 {
		width: 25%;
		}
		.col-sm-2 {
			width: 50%;
		}
		.col-sm-3 {
			width: 75%;
		}
		.col-sm-4 {
			width: 100%;
		}
		.logo {
			margin:0;
			padding:1em 0;
		}
		.logo img{
			height: 60px;
		}
		.green-container-separator {
			display: none;
		}
		.green-container {
			width: 100%;
		}
		#containers {
			padding: 2em 0; 
		}
		.links-menu p{
			float: none;
			text-align: center;	
		}
		.links-menu > ul > li {
			margin-bottom: .5em;
		}
		#aboutus {
			padding: 2em 0;
		}
		#get-quote {
			padding:2em;
		}
		#get-quote p {
			text-align: center;		
		}
		.button-yellow {
			margin: .2em auto;
		}
		#copyright div.sbm, #copyright div.copy {
			text-align: center;
			margin: 1em 0;
		}
		#bottom-links ul {
			display: none;
		}
		#bottom-links .container {
			padding: 2em;
		}
		
		.product-image {
		  margin-left: 0;
		}
		
		.product-image-featured {
			margin-top: 2em;
			width: auto;
			height: auto;
		  position: relative;
		  overflow: visible;
		}
		
		.product-image-featured img {
			left: 0;
			width: 100%;
			height:auto;
			margin-left: 0;
			top: 0;
			margin-top: 0;
			position: relative;
			max-height: none;
		}
		.breadcrumbs {
			display: none;	
		}
		#img-header {
			display: none;
		}
		.find-your-container {
			margin-left: 0;
		}
	}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		.col-xs {
			width: 100%;
		}
		.logo img{
			height: auto;
		}
		.button-yellow {
			width: 100%;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }