 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		.green-container {
			width: 30%;
		}
		.green-container-separator.right, .green-container-separator.left {
			width: 5%;
		}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.col-size-1, .col-size-2, .col-size-3, .col-size-4 {
			width: 100%;
		}
		.green-container-separator {
			display: none;
		}
		.green-container {
			width: 100%;
		}
		#containers {
			padding: 2em 0; 
		}
		.links-menu p{
			float: none;
			text-align: center;	
		}
		#aboutus {
			padding: 2em 0;
		}
		#get-quote {
			padding:2em;
		}
		#get-quote p {
			text-align: center;		
		}
		.button-yellow {
			margin: 0 auto;
		}
		#copyright div.sbm, #copyright div.copy {
			text-align: center;
			margin: 1em 0;
		}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }